body {
    background-color: azure;
    font-family: sans-serif;
}

.selectbutton {
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
    border: 0px;
}