body {
    font-family: sans-serif;
    background-image: url(mesh-964.png);
    background-attachment: fixed;
}

button {
    color: white;
    background-color: rgb(68, 68, 68);
    border-color: black;
    border-radius: 5px;
    padding: 64px 32px;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 1s;
    
}

button:hover {
    transform: scale(1.10);
}

.MenuR1 {
    position: relative;
    margin: auto;
    width: max-content;
}

#MenuR2 {
    position: relative;
    margin:auto;
    width: max-content;
}

.titlebar {
    text-align: center;
}

.info {
    background-color: grey;
}
